@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "figtree", "sans-serif";
    }

    .header {
        color: #12395a;
        font-size: 32px;
    }

    .step_selected {
        background: #f9c706;
        width: 3.7rem;
        height: 2.5rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step_unselected {
        width: 3.7rem;
        height: 2.5rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        .step_selected {
            width: 5rem;
        }
        .step_unselected {
            width: 5rem;
        }
    }
    .step_line {
        background: rgb(172, 172, 172);
        height: 1.4px;
        width: 7%;
    }
    .question_line {
        background: rgb(172, 172, 172);
        height: 1.4px;
        width: 100%;
        margin: 2rem 0;
    }


    .button {
        background: #f0f0f2;
        padding: 0.7rem 1rem;
        border-radius: 6px;
        font-size: 18px;
        color: #12395a;
        font-weight: 500;
        transition: all 100ms;
    }
    .button:hover {
        background: #f9c706;
    }
    
    @media screen and (min-width: 768px) {
        .button {
            font-size: 22px;
            padding: 0.7rem 2rem;

        }
    }
}

