@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "figtree", "sans-serif";
    }
    .step_selected {
        background: #f9c706;
        width: 5rem;
        height: 2.5rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step_unselected {
        /* background: #f9c706; */
        width: 5rem;
        height: 2.5rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step_line {
        background: rgb(172, 172, 172);
        height: 1.2px;
        width: 11%;
    }
}

